.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  &__section-name {
    color: #ff8f1e;
    font-size: 40px;
    font-family: "Khula", sans-serif;
  }

  &__title {
    color: #2a2521;
    font-family: "Koh Santepheap", serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 26px;
    width: 65%;
  }

  &__text {
    color: #2a2521;
    font-family: "Poppins", sans-serif;
    margin-top: 28px;
    font-size: 22px;
    font-weight: 300;
    width: 85%;
  }

  &__background-img {
    position: absolute;
    right: 0;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__content {
      width: 100%;
    }

    &__section-name {
      font-size: 28px;
    }

    &__title {
      width: 100%;
      font-size: 36px;
    }

    &__text {
      width: 100%;
      font-size: 16px;
      padding: 1rem;
    }

    &__img {
      width: 50%;
    }

    &__background-img {
      display: none;
    }
  }
}
